<h2>rps home page</h2>

<p>you need to have a user click a picture to choose an player move</p>


<a href="/rps/rock"><img src="http://www.prowrestling.com/wp-content/uploads/2015/10/the-rock.png" alt=""></a>

<a href="/rps/scissors"><img src="http://www.sacredheart.edu/media/sacredheart/vista/EdwardScissorhandsAliciaProvenzano.jpg" alt=""></a>

<a href="/rps/paper"><img src="https://avoidingserfdom.files.wordpress.com/2015/03/htler.jpg" alt=""></a>
