<h2>FUCK THAT</h2>
<p>Enter a stock symbol to be evaluated for the current market price yeah</p>

<form action="/result">
	<input type="text" name="name_input" placeholder="Stock Code here 'xxxx' " required="true" autofocus>
	<button>Request info fucker</button>
</form>