body {
    background: url("https://visualstudiomagazine.com/blogs/onward-and-upward/2013/04/~/media/ECG/visualstudiomagazine/Images/introimages/VSMWardAzureRuby.ashx");
    background-size: cover;
    background-position: center;
    color: white;
    font-family: helvetica;
}

header {
	margin-top: 9em;
	font-size: 20px;
}

.image {
    border-radius: 80px;
    max-width: 200px;
   	/*display: block;
   	margin: auto;*/
   	float: right;
}

article {
	max-width: 1500px;
}

ul {
	text-align: right;
}

a:link {color:skyblue;}    /*　未訪問リンクの文字色を変える */
a:visited {color:skyblue;} /*　訪問済リンクの文字色を変える */
a:hover {color:#0099ff;}   /*　ポイント時のリンクの文字色を変える */
a:active {color:#666699;}  /*　選択中のリンクの文字色を変える */

