* {
	box-sizing: border-box;
}

.container {
	width: 100vw;
	height: 100vh;
/*	background-image: url('http://www.mixmag.net/assets/uploads/images/_full/RlGrimeRegentTheater.jpg');
	background-size: cover;*/

}

input {
	display: block;
	margin-top: 10px;
}

img, iframe {
	filter: grayscale(100%);
}

nav {
	text-align: center;
}
h1 {
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;
}

a {
/*	color: white;*/
}