<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DO YOU EVEN</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="container">
	<%= yield %>
	<footer>
		<p class="copy">&copy; Copyright Black_Titan 2015 -- Fuck You.</p>
	</footer>
	</div>
</body>
</html>