<h1>DO YOU KNOW YOUR PASSWORD?</h1>

<div>
	<ul>
		<li class="button_yes"><a href="/page5" class="button_yes">Yes</a></li>
		<li class="button_no"><a href="/gtfo5" class="button_no">No</a></li>
		<a href="/">escape</a>
	</ul>
</div>
