<h1>ARE YOU PRESENTING IN CLASS TODAY?</h1>

<div>
	<ul>
		<li class="button_yes"><a href="/page3" class="button_yes">Yes</a></li>
		<li class="button_no"><a href="/gtfo3" class="button_no">No</a></li>
	</ul>
</div>
