<h1>ARE YOU CONNECTED TO THE PROJECTOR?</h1>

<div>
	<ul>
		<li class="button_yes"><a href="/page4" class="button_yes">Yes</a></li>
		<li class="button_no"><a href="/gtfo4" class="button_no">No</a></li>
	</ul>
</div>
