<h1>DID YOU EVEN HOMEWORK?</h1>

<div>
	<ul>
		<li class="button_yes"><a href="/page2" class="button_yes">Yes</a></li>
		<li class="button_no"><a href="/gtfo2" class="button_no">No</a></li>
	</ul>
</div>
