<p id="search-results"></p>
<div id="results">
	<h2>Welcome to searching for your failed dreams</h2>
</div>



<!-- need to get the modal working and add the "if you dont search for anything error"
also need to fix the wrong search error
and also need to style the modal when its working and remeber to turn all my links and hovers back on -->