<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DO YOU EVEN</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/normalize.css">
</head>
<body>

	<div class="container">
		<nav class="navigation">
		<a href="/">Home</a>
		</nav>

		<%= yield %>

		<footer>
			<pclass="copy">&copy; Copyright Black_Titan 2015 -- Fuck You.</p>
		</footer>

	</div>
	
</body>
</html>