<h2>New Ocean</h2>

<form action="/oceans" method="post">
	<p>Name: <input type="text" name="ocean[name]"></p>
	<p>Area: <input type="text" name="ocean[area]"></p>
	<p>Avg Depth: <input type="text" name="ocean[average_depth]"></p>
	<p>Max Depth: <input type="text" name="ocean[deepest_depth]"></p>
	<button>Create Ocean</button>
</form>