/* 

## Style Hints: 

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/

body {
	padding-left: 50px;
	width:100%;
}
header {
	text-align: left;
	padding-left: 50px;
	font-family: "Times New Roman", serif;
	color: #b4b4b4
}

.big {
	padding-left: 50px;
	padding-bottom: 5px;
	width: 100%;
}

p {
	font-family: "Times New Roman", serif;
	width:100%;
	padding-left: 50px;
}

.date {
	padding-left: 50px;
	color: blue;
}

h4 {
	padding-left: 50px;
	font-family: "Times New Roman", serif;
	color: #656565
}

article {
	display: inline-block;
	width: 1010px;
	max-width: 960px;
	padding-left: 50px;
}

.small {
	border: 3px solid #b4b4b4;
	margin-left: 10	px;
	width: 24%;
}

article :last-child {
	padding-right: 0;
}

article :first-child {
	padding-left: 0;
}

.container {
	max-width: 960px;
}

.copyright {
	color: #b4b4b4;
}







