/* 

## Style Hints: 

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/

body {
  font-size: 12px;
  line-height: 17px;
  font-family: "Times New Roman", serif;
  color: #656565;
}

#bodytest {
  max-width: 960px
}

p, h2{
  letter-spacing: .4px
}

.imgbox { 
  display: inline-block; 
  width: 238px;
  height: 157px; 
  margin: -2px;
  padding: 1px;
   }

.imgborder {
  border: 5px solid #CCC;
  padding: 1px; 
}

.bigImages {
  margin-left: auto;
  margin-right: auto;
 /* display: block;*/
}

#container {
  margin-right: auto;
  margin-left: auto;
  padding: 75px;
  min-width: 960px;

}

#pictures {
  padding: 0px;
  margin: 0 auto;
  display: center;
}

h1 {
  font-size: 40px;
}

p.date {
  color: rgb(38, 146, 199);
}

a.link {
  color: rgb(38, 146, 199)
}

h1 {
color: rgb(135, 135, 135);
}

#firstPic {
  margin-bottom: 30px;
}