#pic{
	position: absolute;
	top: 400px;
}


#pic:after{
top: 0;
left: 0;
width: 80%;
height: 80%;
background: linear-gradient(left, rgba(255, 255, 255, 0) 40%, #fff 100%); /* 塗りつぶす */
}

body {
    background: url("");
    background-size: cover;
    background-position: center;
    color: black;
    font-family: helvetica;
}

