@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background-color: #242323;
  color: #D1D0CE;
  font-family: Arial, Verdana, sans-serif;
  text-align: right;
}

.navbar {
  position: fixed;
  width: 100%;
  margin-left: -30px;
  margin-top: -40px;
  z-index: 99;
  text-align: center;
}

.navbar1 {
  position: fixed;
  width: 100%;
  margin-left: -31px;
  margin-top: -40px;
  z-index: 99;
  text-align: center;

}

.navbar2 {
  position: fixed;
  width: 100%;
  margin-left: -31px;
  margin-top: -40px;
  z-index: 99;
  text-align: center;

}
 ul {
    padding: 10px;
    background: rgba(0,0,0,0.5);
    text-align: center;
    font-color: black;
    font-family: 'Open Sans', sans-serif;
    }

li.navi {
  display: inline;
  padding: 0px 10px 0px 10px;
  margin: 100px;
    }

a {
  color: white;
  }

header {
  background-image: url("../images/HeaderPic.jpeg");
  color: #D1D0CE;
  background-size: cover;
  padding: 20px;
  height: 700px;
  border: solid black;
  z-index: 50;
}

#background1  {
    background-image: url("../images/BackgroundPic.jpeg");
    background-repeat: no-repeat;
    background-origin: content-box;
    background-attachment: fixed; 
    background-size: cover;
    border: solid black;
     /*border: 3px solid red;*/
}


#background2 {
  background-image: url("../images/HeaderPic.jpeg");
  color: #D1D0CE;
  background-size: cover;
  padding: 20px;
  height: 700px;
  border: solid black;
  z-index: 50;
}

.cd-fixed-bg {
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;

}
 
.cd-fixed-bg.cd-bg-1 {
  background-image: url("../images/BackgroundPic.jpeg");
  border: solid black;

}
 
.cd-scrolling-bg {
  min-height: 100%;
}

#contact {
  text-align: center;
  /*border: 1px solid blue;*/
  background-color: rgb(27, 26, 26);
  border: solid black;
  border-width: 3px 3px 3px 3px;
 font-family: 'Open Sans', sans-serif;
 color: #D1D0CE;
}

#maintext {
  text-align: left;
  max-width: 400px;
  margin: 0 50px 0 auto;
  background-color: rgba(0, 0, 0, 0.61);
  padding:30px; 

}

.texting {
  background-color: rgba(0, 0, 0, 0.61);
  max-width: 800px;
  margin: 4em auto auto auto;
  padding: 32px;

}

.donald {
  text-align: center;
}

.donald1 {
  text-align: center;
  width: 200px;
  margin: auto;
}

#contact1 {
  text-align: center;
  /*border: 1px solid blue;*/
  background-color: rgb(27, 26, 26);
  border: solid black;
  border-width: 3px 3px 3px 3px;
 font-family: 'Open Sans', sans-serif;
 color: #D1D0CE;
 margin-top: 1em;
}