<h1>Country Code Lookup</h1>
<p>Search for your Countries international code.</p>

<form>
	<input type="search" id="search" placeholder="Australia">
	<button  name="country">Search</button>
</form>
<div id="result"></div>