<h2>magic game home</h2>

<form action="/magic/answer">
	<label for="magic_question">Question</label>
	<input id="magic_question" type="text" name="question" placeholder="Question here">
	<button>Get magic answer to lifes question</button>
</form>