<h2>Moive info & Posters yeaaaah!</h2>
<p>search for a movie title to get shit to appear on your screen</p>

<form action="/info">
	<input type="text" name="name_input" placeholder="Movie Tite goes here" required="true" autofocus>
	<button>Request info fucker</button>
</form>