#catawalk {
	margin-top: 10em;
	position: absolute;

}

#danceKat {
	margin-top: 3em;
}

#danceKat2 {
	margin-top: 3em;
}

body {
	background-color: black;
	overflow: hidden;
}

.flipped {
	transform: scaleX(-1);
}

.blank {
}

.hidden {
	display: none;
}

#apertureLogo {
	color: orange;
	position: absolute;
	margin-left: 35em;
	top: 200px;
}