@import url(https://fonts.googleapis.com/css?family=Audiowide);

body {
  font-family: 'Audiowide', cursive;
  margin: 0 0;
}

header {
  background-color: black;
}

h1 {
  margin: 0 auto;
  padding: 10px 10px;
  color: white;
}

@keyframes ticker {
    0% {
        -webkit-transform: translatex(100%);
                /*transform: translate3d(100%, 0, 0);*/

    }
    100% {
        -webkit-transform: translatex(-100%);
                /*transform: translate3d(-100%, 0, 0);*/
    }
}

#tickerBg {
  background-color: #80ff80;
  border-bottom: 1px solid black;
}

#ticker {
  white-space: nowrap;
  height: 3em;
  animation-name: ticker;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 20s;
}


.tickerItem {
  display: inline-block;
  padding: 1em 1em;
  font-size: 1em;
}

.container {
  background-color: white;
  margin: 0 auto;
  width: 75%;
  border: 1px black solid;
  height: 75%;
}

article {
  background-color: #ffffcc;
  display: inline-block;
  width: 60%;
  padding: 1em;
  font-size: 1.5em;
  /*border-top-right-radius: 9em;*/
}

aside {
  display: inline-block;
  width: 35%;
  vertical-align: top;
}

aside img {
  width: 100%;
}

.nav {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.nav li {
  display: inline;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: green;
}

a:visited {
  color: green;
}
