.container {
	margin: 0 auto;
	text-align: center;
	width: 80vw;
	height:100vh;
}
#photo {
/*	display: block;*/
	margin: 0 auto;
	padding-right: 10px;
	padding-bottom: 15px;
}

form {
	margin-bottom: 10px;
}

body {
	padding-top: 70px; 

}

#search-results {
	margin-bottom: 25px;
}

#search-number {
	color: #66afe9;
}

#results, li, a, img {
	text-decoration: none;
	display: inline-block;

}

/*#results:hover {
	pointer-events:none;
}

#dont-hover-yet {
	pointer-events:none;
}*/

#search-number {
	margin-top: 15px;
}