body {
    background: url("https://visualstudiomagazine.com/blogs/onward-and-upward/2013/04/~/media/ECG/visualstudiomagazine/Images/introimages/VSMWardAzureRuby.ashx");
    background-size: cover;
    background-position: center;
    color: white;
    font-family: helvetica;
}

header {
	margin-top: 2em;
	font-size: 20px;
}

ul.products {
  margin-bottom: 15px;
}

ul.products>li {
  overflow: hidden;
  margin-bottom: 10px;
  padding-bottom:10px;
  border-bottom: 1px dotted #ccc;
}
ul.products>li>img {
  float: left;
  width: 200px;
}
ul.products>li>p{
  margin-top: 50px
  margin-left: 70px;
  margin-right: 50px;
  font-size: 25px;

}

ul{
 text-align: left;
}
  

img {
    margin-right: 30px
}


a:link {color:skyblue;}    /*　未訪問リンクの文字色を変える */
a:visited {color:skyblue;} /*　訪問済リンクの文字色を変える */
a:hover {color:#0099ff;}   /*　ポイント時のリンクの文字色を変える */
a:active {color:#666699;}  /*　選択中のリンクの文字色を変える */

