body {
    background: url("https://visualstudiomagazine.com/blogs/onward-and-upward/2013/04/~/media/ECG/visualstudiomagazine/Images/introimages/VSMWardAzureRuby.ashx");
    background-size: cover;
    background-position: center;
    color: white;
    font-family: helvetica;
}

header {
	margin-top: 1em;
  margin-bottom: 2em;
	font-size: 20px;
}

.image {
    position: absolute;
    border-radius: 70px;
    max-width: 250px;
    float: right
    margin-bottom:15em;
    margin-left: 8em;
}
.image2 {
    border-radius: 50%;
    max-width: 370px;
    float: right;

}

.image3 {
    border-radius: 50%;
    max-width: 200px;
    float: right;
    display: inline-block;
    position: relative;
    }

              }

article {
	max-width: 1500px;
}

ul {
	text-align: right;
}

a:link {color:skyblue;}    /*　未訪問リンクの文字色を変える */
a:visited {color:skyblue;} /*　訪問済リンクの文字色を変える */
a:hover {color:#0099ff;}   /*　ポイント時のリンクの文字色を変える */
a:active {color:#666699;}  /*　選択中のリンクの文字色を変える */

