<div class="newartist">

<form action="/artists" method="post">
	<label for="">Name</label>
	<input type="text" name="name">
	<label for="">Stage Name</label>
	<input type="text" name="stage_name">
	<label for="">Genre</label>
	<input type="text" name="genre">
	<label for="">Label</label>
	<input type="text" name="label">
	<label for="">Image</label>
	<input type="text" name="image">
	<label for="">Website URL</label>
	<input type="text" name="site">
	<label for="">Soundcloud</label>
	<input type="text" name="sound">
	<button>Add new Producer</button>
</form>

</div>