<div class="main">

<h1>MAIN STAGE</h1>

<p class="mainstage">This is a website designed for your viewing pleasure. <br>
Basically the deal is you get to look through artists <br> catalogged on this site and add, edit or delete them. bam!</p>

</div>