<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Music Artists</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">
	<nav>
		<a href="/">Main Stage</a>
		<a href="/artists">All Artists</a>
		<a href="/artists/new">Add Artist</a>
	</nav>
	<%= yield %>
</div>

</body>
</html>